<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 form-group">
          <label for="name">UserName</label>
          <input type="text" name="name" class="form-control" [ngModel]="user.UserName" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control" [ngModel]="user.Email" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 form-group">
          <label for="phone">Phone</label>
          <input type="text" name="phone" class="form-control" [ngModel]="user.PhoneNumber" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 form-group">
          <span class="pull-right">
            <button class="btn btn-success" (click)="update()">Kaydet</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
